extends admin_layout

block content

    // AQUÍ ESTÁ EL CONTENIDO DE CADA PÁGINA
    main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role="main")
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1= title
         
      // AQUÍ VA OTRAS COSAS QUE SE NECESITE EN LA CABECERA DEL DASHBOARD
      .pt-5
      // AQUI VA EL MENSAJE DE PRODUCTO INGRESADO
      .row.justify-content-center.pt-5.mainIntercambiableContent
        .col-md-6
          p.text-center #{mensaje}
          form(method="POST" action="" role="form")
            .form-group
              label(for="nombre") Nombre
              input.form-control(type="text" name="nombre" value=`${nombre}`)
            .form-group
              label(for="tipo") Tipo
              input.form-control(type="text" name="tipo" value=`${tipo}`)
            .form-group
              label(for="descripcion") Descripcion
              input.form-control(type="text" name="descripcion" value=`${descripcion}`)
            .form-group
              label(for="stock") Stock
              select.form-control(name="stock" required="" )
                  option(selected=true) Stock
                  option(value="0" selected=`${Stock}` == "0") Si
                  option(value="1" selected=`${Stock}` == "1") No
            .form-group
              label(for="cantidad") Cantidad
              input.form-control(type="text" name="cantidad" value=`${cantidad}`)
            .form-group
              label(for="precio") Precio
              input.form-control(type="text" name="precio" required="" value=`${precio}`)
            button.btn.btn-primary(type="submit") Actualizar OtroProducto
            a.btn.btn-danger.ml-1(href="/admin/listado-otroproducto") Cancelar
            
      .pb-5



      
