extends admin_layout

block content

    // AQUÍ ESTÁ EL CONTENIDO DE CADA PÁGINA
    main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role="main")
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
        h1= title
         
      // AQUÍ VA OTRAS COSAS QUE SE NECESITE EN LA CABECERA DEL DASHBOARD
      .pt-5
      // AQUI VA EL MENSAJE DE PRODUCTO INGRESADO
      .row.justify-content-center.pt-5.mainIntercambiableContent
        .col-md-6
          p.text-center #{mensaje}
          form(method="POST" action="" role="form" enctype="multipart/form-data")
            .form-group
              label(for="nombre") Nombre
              input.form-control(type="text" name="nombre" value=`${nombre}`)
            .form-group
              label(for="precio") Precio
              input.form-control(type="text" name="precio" value=`${precio}`)
            .form-group
              label(for="imagen")
                | Imagen 
                small
                  | (Solo hay cebolla, champinion,
                  | tomate, queso, pollo,
                  | pinia, tocino o jamon)
              img.editImgCurrent(src=`../../uploads/ingredientes/${imagen}`)
              input.form-control(type="file" name="imagen")
              input.form-control(type="hidden" name="imagenh"  value=`${imagen}`)
              

            button.btn.btn-primary(type="submit") Actualizar Producto
            a.btn.btn-danger.ml-1(href="/admin/listado-ingredientes") Cancelar
            
      .pb-5
