extends layout

block content

    // START CABECERA PAGINAS
    section.SeccionCabeceraPAGINAS
      .container-fluid
        .row
          .cabeceraPaginas
            h1.tituloPaginasCabera
              = title
            .breadcrumb-inner
              a(href="/") Home
              span= title
    .iconArrowDown
      .icon-default2
        ion-icon(name="arrow-down-outline")
    br
    br
    section.mainCheckout.pb-5.pt-5
      .container
        .row
          .col-md-6.bloqueIzquierda
            .parte1.shadow
              .secCabecera1
                h4.titulo_ParrafosDark.text-center Inciar Sesión
                br
              .formularioLogin
                form(action="" method="POST" role="form")
                  .form-group
                    label(for="correo") Correo
                    input#correo.form-control(type="text" name="correo")
                  .form-group
                    label(for="contrasenia") Contraseña
                    input#contrasenia.form-control(type="password" name="contrasenia")
                  .form-group
                    a.linkText(href="#") Olvidé Contraseña
                  .actualizarListado.pt-3.d-flex.justify-content-center
                    button.btn-mediano.bg-darkCupon(type="submit") Iniciar Sesión
          .col-md-6.bloqueDerecha
            .parte2.shadow
              .secCabecera2
                h4.titulo_ParrafosDark.text-center REGISTRO
              .secCabecera3.mt-5
                .formularioRegistro
                  form(action="" method="POST" role="form")
                    .form-group
                      label(for="nombre") Nombres
                       input.form-control(type="text" name="nombre"  value=`${nombre}`)
                    .form-group
                      label(for="apellido") Apellidos
                       input.form-control(type="text" name="apellido"  value=`${apellido}`)
                    .form-group
                      label(for="correo") Correo
                       input.form-control(type="text" name="correo"  value=`${correo}`)
                    .form-group
                      label(for="contrasenia") Contraseña
                      input.form-control(type="password" name="contrasenia"  value=`${contrasenia}`)
                    .actualizarListado.pt-3.d-flex.justify-content-center
                      button.btn-mediano.bg-yellowCupon(type="submit") REGISTRAR
