extends layout

block content
    // START CABECERA PAGINAS
    section.SeccionCabeceraPAGINAS
      .container-fluid
        .row
          .cabeceraPaginas
            h1.tituloPaginasCabera
              = title
            .breadcrumb-inner
              a(href="/") Home
              span= title
    .iconArrowDown
      .icon-default2
        ion-icon(name="arrow-down-outline")
    // MENU
    .container.mn-contenedor
      #accordionExample.accordion
        #open-pizzas.card
          #headingOne.mn-cards.card-header(style="padding: 0px;margin-top:0px;")
            h2.mb-0
              button#open-menu.mn-botones.btn.btn-dark.btn-block.text-left(style="background-image: url('../../images/pizzaDouble.jpg');" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                h1.mn-botones-texto PIZZAS
          #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
            .card-body
              .container-fluid
                .mn-productos.row.justify-content-center.cotenedorProductos
                  each element in pizzaList
                      .col-auto.mb-5.cardProductoM.itemProducto(data-id=`${element._id}`)
                          div
                            a(href=`/product/${element._id}`)
                                img.img-fluid.itemImagen(src=`../../uploads/pizzas/${element.Imagen}` alt="Pizza")
                          a.productLink(href=`/product/${element._id}`)
                            h6.itemNombre= element.Nombre
                          p.descripCort.itemDescripcion= element.Descripcion
                          br
                          span.mn-productos-precio
                            small
                              | Desde 
                            
                            b.itemPrecio= element.Precio + '$'
                          button.mn-productos-botones.addToCart
                            ion-icon(name="basket-outline")
                            | Añadir
                 
        
        .card
          #headingTwo.mn-cards.card-header(style="padding: 0;")
            h2.mb-0
              button#open-pizzas.mn-botones.btn.btn-dark.btn-block.text-left.collapsed(style="background-image: url('../../images/Menu/Bebidas.jpg');" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                h1.mn-botones-texto OTROS PRODUCTOS
          #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
            .card-body
              .container-fluid
                .mn-productos.row.justify-content-center
                     each element in listadoProductos
                          .col-auto.mb-5.cardProductoM
                              div
                                a(href=`/product/${element._id}`)
                                    img.img-fluid.itemImagen(src=`../../uploads/otrosproductos/${element.Imagen}` alt="Otro" style="max-width:150px;")
                              a.productLink(href=`#` item-id=`${element._id}`)
                                h6.itemNombre= element.Nombre 
                              
                              span.mn-productos-precio
                                small
                                  | Stock 
                                span
                                  |
                                b.itemPrecio= element.Cantidad 
                              p.descripCort.itemDescripcion= element.Descripcion
                              br
                              span.mn-productos-precio.d-flex.justify-content-center 
                                b.itemPrecio= element.Precio + '$'