extends layout

block content


    // START CABECERA PAGINAS
    section.SeccionCabeceraPAGINAS
      .container-fluid
        .row
          .cabeceraPaginas
            h1.tituloPaginasCabera
              = title
            .breadcrumb-inner
              a(href="/") Home
              a(href="/menu") Menú
              span= title
    .iconArrowDown
      .icon-default2
        ion-icon(name="arrow-down-outline")
    // START MAIN SECTION
    .pt-5
    section.pt-5.singleProduct
      .container
        .row
          .col-md-6.col-sm-12.col-xs-12.singlePLeft
            .container
              .row
                .col-md-12
                  #carouselSingleProduct.carousel.slide(data-ride="carousel" align="center")
                    // slides
                    .carousel-inner
                      .carousel-item.active
                        img(src=`../images/productos/${pizzaData.Imagen}.png` alt="Hills")
                      .carousel-item
                        img(src=`../images/productos/${pizzaData.Imagen}.png` alt="Hills")
                      .carousel-item
                        img(src=`../images/productos/${pizzaData.Imagen}.png` alt="Hills")
                      .carousel-item
                        img(src=`../images/productos/${pizzaData.Imagen}.png` alt="Hills")
                    // Left right
                    a.carousel-control-prev(href="#carouselSingleProduct" data-slide="prev")
                      ion-icon.prevIcon(name="chevron-back-outline")
                    a.carousel-control-next(href="#carouselSingleProduct" data-slide="next")
                      ion-icon.nextIcon(name="chevron-forward-outline")
                    // Thumbnails
                    ol.carousel-indicators.list-inline
                      li.list-inline-item.active
                        a#carousel-selector-0.selected(data-slide-to="0" data-target="#carouselSingleProduct")
                          img.img-fluid(src=`../images/productos/${pizzaData.Imagen}.png`)
                      li.list-inline-item
                        a#carousel-selector-1(data-slide-to="1" data-target="#carouselSingleProduct")
                          img.img-fluid(src=`../images/productos/${pizzaData.Imagen}.png`)
                      li.list-inline-item
                        a#carousel-selector-2(data-slide-to="2" data-target="#carouselSingleProduct")
                          img.img-fluid(src=`../images/productos/${pizzaData.Imagen}.png`)
                      li.list-inline-item
                        a#carousel-selector-2(data-slide-to="3" data-target="#carouselSingleProduct")
                          img.img-fluid(src=`../images/productos/${pizzaData.Imagen}.png`)
          .col-md-6.col-sm-12.col-xs-12.singlePRight
            h4.tituloSP= pizzaData.Nombre
            p.descripcionSP= pizzaData.Descripcion
               
            h3.precioSP= "$ "+pizzaData.Precio
            .campoCantidadProducto
              span.disminuir#disminuir
                ion-icon(name="remove-outline")
              input(type="text" name="txt" id="cantProductos" placeholder="1" pattern="[0-9]" value="1")
              span.agregar#aumentar
                ion-icon(name="add-outline")
            a.btnAgregarACarrito.btnSpecialYellow#addCarrito(href="#")
              ion-icon(name="basket-outline")
              | Añadir
            .compartirRS.mt-4
              .row
                .col-md-12.col-sm-12.col-xs-12
                  .bloqueRS.d-flex.align-items-center
                    h5 COMPARTIR
                    ul.socialList
                      li.social-facebook
                        a(href="#")
                          ion-icon(name="logo-facebook")
                      li.social-instagram
                        a(href="#")
                          ion-icon(name="logo-instagram")
                      li.social-twitter
                        a(href="#")
                          ion-icon(name="logo-twitter")
    .pb-5
    .pb-5